# Configuration file

general {
    ##########################################################################################################
    # modpatchconfig
    #--------------------------------------------------------------------------------------------------------#
    # Fix and patches for certain mods.
    # WARNING: Enable too much patches may lower performance.
    # If you are a pack maker, just enable what you need.
    # 
    ##########################################################################################################

    modpatchconfig {
        B:"Enabel Survivial Inc. Patch"=false
        B:"Enable 5zig Patch"=false

        # It stores script engine manage to a field which doesn't handle by universal patch
        B:"Enable 7 Days to Mine Patch"=false

        # This patch is only for Advanced Rocketry by zmaster587.
        # Advanced Rocketry - Reworked by MarvinEckhardt doesn't need this!
        B:"Enable Advanced Rocketry Patch"=false

        # Using Apache http4 for game analytics. The URL is shutdown now so just removed it.
        B:"Enable Aether II Patch"=false

        # Bad Apache httpclient4 user, had to patch with dirty trick.
        B:"Enable All Music Patch"=false
        B:"Enable Aqua Acrobatics Patch"=false
        B:"Enable Armourer's Workshop Patch"=false
        B:"Enable Better Formatting Code Patch"=false
        B:"Enable Better Records Patch"=false

        # This mod is counting insn on target matching, which breaks after patch cleanup
        B:"Enable Better Sprinting Patch"=false

        # This patch is for CB Multipart (previously ForgeMultiPart) from covers1624, MrTJP and ChickenBones.
        # MCMultiPart is another different mod!
        B:"Enable CB Multipart Patch"=false
        B:"Enable Carryon Patch"=false
        B:"Enable Censored ASM Patch"=true

        # Disable this if you are using Charset CRE
        B:"Enable Charset lib Patch"=false

        # Uses a outdated way to setup its mixins
        B:"Enable Chiseled Me Patch"=false

        # Disable this if you are using CCL CRE
        B:"Enable Code Chicken Lib Patch"=false
        B:"Enable Colytra Patch"=false
        B:"Enable Corpse Patch"=false

        # It creates a file writer but charset behavior changed in newer Java
        B:"Enable Creative Core Patch"=false
        B:"Enable Crossbow(jbredwards) Patch"=false
        B:"Enable Custom Main Menu Patch"=false

        # Also patches Custom NPCs Unofficial, will log harmless errors
        B:"Enable Custom NPCs Patch"=false
        B:"Enable Custom Skin Loader Patch"=false

        # Patches DarkTheme's use of internal Java reflection APIs that are not available in Java 9+
        B:"Enable DarkTheme Patch"=false
        B:"Enable Dissolution Patch"=false
        B:"Enable Dropt Patch"=false

        # This mod is packing a copy of ASM itself, wtf
        B:"Enable Ears Patch"=false
        B:"Enable Enchantment Control Patch"=false
        B:"Enable Ender Core Patch"=false

        # This patch fixes mouse wheel input for Ender Utilities on LWJGL3
        B:"Enable Ender Utilities mouse wheel patch"=false
        B:"Enable Erebus Fix Patch"=false
        B:"Enable Essential Patch"=false
        B:"Enable Extra Utilities Patch"=false
        B:"Enable Farseek Patch"=false
        B:"Enable Forge Endertech Patch"=false
        B:"Enable Funky Locomotion Patch"=false

        # It's ASM code adapted to Forge's weird compiler
        B:"Enable Future MC Patch"=false
        B:"Enable Gliby's Physics Patch"=false

        # This gtceu patch is temporary. An official fix is pending.
        B:"Enable GregTechCE Unofficial Patch"=false
        B:"Enable HEI Patch (temporary)"=false

        # From author of Fugue: I hate this mod.
        B:"Enable HammerCore Patch"=false

        # This mod plays with transformer order and conflicts with UT
        B:"Enable Heavy Falling Patch"=false
        B:"Enable Howling Moon Patch"=false
        B:"Enable IC2C Extra Patch"=false
        B:"Enable Integrated Proxy Patch"=false
        B:"Enable Inventory Tweaks Patch"=false
        B:"Enable JourneyMap Patch"=false
        B:"Enable KubeJS Patch"=false
        B:"Enable LightAndShadow Patch"=false
        B:"Enable Lockdown Patch"=false
        B:"Enable Logistics Pipes Patch"=false
        B:"Enable MAGE (Graphical Tweaks) Patch"=false

        # This mod is using mcp name in ASM
        B:"Enable Metroid Cubed 4 Patch"=false

        # Has a whole http4 helper class to interact with server.
        B:"Enable Mo'Bends Patch"=false
        B:"Enable More Player Model Patch"=false
        B:"Enable More Refined Storage Patch"=false
        B:"Enable NBT Peripheral Patch"=false

        # It shadowed an abandoned library developed on Java 8
        B:"Enable OC-WASM Patch"=false
        B:"Enable OfflineSkins Patch"=false
        B:"Enable Patch to PolyForst mods"=false
        B:"Enable Patchouli Patch"=false
        B:"Enable Project Red Patch"=false

        # Using Apache http for json getting. Totally pointless since you don't need a lib to do this.
        B:"Enable Random Title Patch"=false

        # The mod is removing getNext().getNext() and removed a label node
        B:"Enable Rebind Patch"=false
        B:"Enable Recurrent Complex Patch"=false
        B:"Enable ReplayMod Patch"=false
        B:"Enable SAO UI Patch"=false
        B:"Enable ScreenshotViewer Patch"=false

        # The mod is counting insn nodes in transformer and it breaks with latest recompiled class. Blame Vineflower and/or JDK 21 for this
        B:"Enable Serene Seasons Patch"=false
        B:"Enable Shoulder Surfing Reloaded Patch"=false
        B:"Enable SimplyHotSpring Patch"=false

        # It failed to patch FontRenderer for no fxxking reason.
        B:"Enable SmoothFont Patch"=false
        B:"Enable Solar Flux Reborn Patch"=false
        B:"Enable Sound Device Options / More Sound Config Patch"=false
        B:"Enable Splash Animation Patch"=false
        B:"Enable Subaquatic Patch"=false
        B:"Enable TFC Medical Patch"=false
        B:"Enable Techgun Patch"=false
        B:"Enable Thaumic Fixes Patch"=false
        B:"Enable TickCentral Patch"=false

        # Unwelcomed classloader hack
        B:"Enable Transcend Patch"=false
        B:"Enable Uncrafting Blacklist Patch"=false

        # This patches the CraftPresence spam log
        B:"Enable Unilib Patch"=false
        B:"Enable Unvalkyried Heavens Patch"=false
        B:"Enable Vampirism Patch"=false

        # Cleanroom 0.6.10+ natively limits command suggestion display, making VintageFix's 'mixin.bugfix.tab_complete_ddos' obsolete. Forcibly drops that mixin from VintageFix's mixin list via ASM, regardless of its config file.
        B:"Enable VintageFix Patch"=true
        B:"Enable Water Power Patch"=false
        B:"Enable XNet Patch"=false
        B:"Enable XaeroPlus Patch"=false
        B:"Enable ZeroCore (used by ExtremeReactor) Patch"=false
        B:"Enable mcjtylib Patch"=false
        B:"Fix Thaumic Speedup Loader"=false
    }

}


